@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>Dawid Rosa</h3>

<address>
    ul. Warszawska 86<br />
    21-080 Garbów<br />
    <abbr title="Telefon">Telefon: </abbr>
    504-077-166
</address>

<address>
    <strong>Email</strong> <a href="mailto:rosadawid94@gmial.com">Rosadawid94@gmail.com</a><br />
</address>