@model EFGetStarted.AspNetCore.NewDb.Models.Data

@{
    ViewData["Title"] = "Usuwanie wpisu";
}

<h2>Usuwanie wpisu</h2>

<h3>Czy na pewno chcesz usunąć wpis?</h3>
<div>
    <h4>Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imie i nazwisko:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameAndSurname)
        </dd>
        <dt>
            Powód:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="Index">Wróć do bazy danych</a>
    </form>
</div>
