@model EFGetStarted.AspNetCore.NewDb.Models.Data

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imie i nazwisko:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameAndSurname)
        </dd>
        <dt>
            Powód:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Wróć do bazy danych</a>
</div>
